.banner {
    height: 223px;
    background-image: url('../../asset/ImageS1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    > div {
      background-color: rgba(0, 0, 0, 0.5); 
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
  
      p {
        color: white;
        font-size: 48px;
        
    }
  }
}

@media (max-width: 767px) {

  .banner {
   
    > div {
      
      p {
        font-size: 24px;
        
    }
  }
}

}


